.main-wrapper {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    overflow: "hidden";
    flex-direction: row;
}

.left-pane {
    width: 65%;
    background-color: #fff;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-pane-image {
    height: 40rem;
    margin: auto
}

.highlighted-text {
    font-style: italic;
    font-weight: bold;
    color: var(--color-primary);
    font-family: "Avenir LT Std Black", "Helvetica", sans-serif;
}

.right-pane {
    width: 35%;
    background-image: url("../assets/images/login-background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem 3rem 3rem;
    position: relative;
}

.footer {
    margin-top: 5rem;
    font-size: var(--text-11);
    text-align: center;
    position: absolute;
    bottom: 2rem;
}

/* Responsive for mobile */
@media (max-width: 768px) {
    .main-wrapper {
        flex-direction: column;
    }

    .left-pane,
    .right-pane {
        width: 100%;
        border-radius: 0;
    }

    .right-pane {
        padding: 2rem 1.5rem;
    }

    .left-pane {
        padding: 2rem 1.5rem;
        text-align: center;
    }

    .left-pane h1 {
        font-size: 1.5rem;
    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}